.scrollTopButton {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1000;
    background-color: var(--accent);
    color: var(--bgWhite);
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.scrollTopButton:hover {
    transform: scale(1.1);
    background-color: var(--accent2);
}

.scrollTopButton svg {
    font-size: 1.5rem;
}
